.board {
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(3,1fr);
    height:500px;
    width:500px;
}

.board, .board-box {
    border: 5px solid green;
    border-radius: 12px;
    color: blue;
}

.h1 {
    font:200;
    color: pink;
}

.box-board {
    align-items: center;
    background-color: cornflowerblue;
    display: flex;
    font-size: 3rem;
    font-weight: 550;
    justify-content:center;
}