.App {
  align-items:center;
  display:flex;
  flex-direction: column;
  text-align:center;
}
.main {
  align-items:center;
  display:grid;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  text-align:center;

}
.message {
  text-align:center;
  justify-content:center;
  align-content:center;
}
